* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}
